// Custom styles for mat input
@import './customStyles/custom-mat-input.scss';
// animations
@import './customStyles/animation.keyframes.scss';

/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html { 
    background: url('./assets/background.jpg') no-repeat center center fixed;
    background-size: cover;
}
